*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgba(128, 128, 128, 0.234);
}

header{
    background: #f3f3f3;
    width: 100%;
    height: 60px;
    border-bottom: solid 1px rgb(198, 192, 192);
}

.logo a{
    text-decoration: none;
    font-size: 32px;
    color: blue;
}

nav{
    margin-top: 1.5%;
    width: 200px;
    height: 100%;
    position: fixed;
    background: #f3f3f3;
}

ul {
    display: block;
    text-decoration: none;
    list-style: none;
    
}
.nav-links{
    margin-top: 10%;
    margin-left: 20px;
}

.nav-links li a  {
    font-size: 20px;
    text-decoration: none;
    padding-left: 10px;
    color: gray;
}

.nav-links li i{
    color: gray;
    font-size: 25px;
}

.nav-links li a{
    line-height: 70px;
}

